<h1><%= @market.name %> Vendors!</h1>
<h3><%= @market.street %></h3>
<h3><%= @market.city %>, <%= @market.state %> <%= @market.zip %></h3>

<p>Vendors at our Market:</p>

<section class='market_vendors'>
  <ul>
    <% @market_vendors.each do |vendor| %>
      <li>
        <p>Name: <%= link_to vendor.name.strip, market_path(vendor.id) %></p>
      </li>
    <% end %>
  </ul>
</section>